.Footer{
    padding: 3rem 0;
    padding-bottom: 1rem;
    gap: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    padding-top: 0;
}

.Footer__Copy-right p{
    color: var(--color-text);
    font-size: var(--fs-200);
    font-family: var(--font-family-four);
    white-space: nowrap;
    
}

.Footer__Copy-right p a{
    text-decoration: none;
    color: var(--color-text);
}

@media (max-width: 900px){
    .Footer{
        padding-bottom: 0;
    }
}